
# API Keys de IA
GROQ_API_KEY=gsk_tu_llave_de_groq_aqui
GEMINI_API_KEY=AIzaSy_tu_llave_de_gemini_aqui
OPENROUTER_API_KEY=sk-or-v1-tu_llave_de_openrouter_aqui

# Una contraseña aleatoria larga para encriptar los tokens de los usuarios
JWT_SECRET=SanaFlowHackathonSuperSecret2026!
